/* universel style */

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");

:root {
  --main-bg: #fff;
  --main-bg-color: #fff;
  --sidebar-bg: #fff;
  --secondary-bg-color: #f5f5f5;
  --third-bg-color: #a11d2b;
  --navbar-bg: #fff;
  --main-text-color: #252424;
  --secondary-text-color: #696969;
  --link-hover-color: #1352f1;
  --btn-border-radius: 8px;
  --card-border-radius: 16px;
  --box-border: 1px solid #ececec;
  --input-border: 1px solid #27509e;
  --box-shadow: 0px 8px 16px -7px rgba(3, 29, 53, 0.08);
  --label-color: #060e1b;
  --aside-text-color: #252424;
  --navbar-text-color: #252424;
}
.navcolor {
  --navbar-text-color: #fff;
}
.bluetheme {
  --main-bg: #1f283c;
  --sidebar-bg: #1f283c;
  --navbar-bg: #1f283c;
  --main-text-color: #fff;
  --navbar-text-color: #fff;
  --secondary-bg-color: #091f43;
  --sidebar-bg: #1f283c;
  --aside-text-color: #fff;
  --label-color: #fff;
}
.semitheme {
  --sidebar-bg: #1f283c;
  --aside-text-color: #fff;
}
.minimaltheme {
  --sidebar-bg: #1f283c;
  --aside-text-color: #fff;
}
* {
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
}
img {
  width: 100%;
}
.warring {
  background: #a11d2b !important;
}
a {
  text-decoration: none !important;
}
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
  background: var(--main-bg);
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
i {
  color: var(--main-text-color);
}
span {
  font-size: 16px;
}
.container-fluid {
  padding: 0px !important;
}
h4 {
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
header h2 {
  color: var(--navbar-text-color);
}
header h3 {
  color: var(--navbar-text-color);
}
p {
  color: var(--secondary-text-color);
}
.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}
.py-60 {
  padding: 60px;
}

/* siderbar style */

.sidebar-logo img {
  width: 150px;
  margin-bottom: 30px;
}
aside {
  position: fixed;
  z-index: 3;
  padding: 0px 40px 30px;
  box-shadow: var(--box-shadow);
  background: var(--sidebar-bg);
  border: var(--box-border);
  height: 100vh;
}
aside p {
  margin: 0;
}
aside h4 {
  color: var(--aside-text-color);
}
aside i {
  color: var(--aside-text-color);
}
.mange-navlist I {
  color: var(--main-text-color) !important;
}
.mange-navlist span {
  color: var(--main-text-color) !important;
}
aside span {
  color: var(--aside-text-color);
}
.submenu li > a {
  color: var(--aside-text-color);
}
/* .manage,
.preference {
  display: grid;
  place-items: center;
} */
.mange-navlist,
.pref-navlist {
  margin: 20px 0px;
  padding: 0;
}

.mange-navlist a > i,
span {
  font-size: 20px !important;
  margin: 0px 10px 0px 0px;
}
.pref-navlist a > i,
span {
  font-size: 20px !important;
  margin: 0px 10px 0px 0px;
}
.pref-navlist li > a {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 0px;
  padding: 5px 0px;
  max-width: 172px;
  max-height: 44px;
  border-radius: var(--btn-border-radius);
  color: var(--main-text-color);
  font-weight: 600;
}
.mange-navlist a {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  background: var(--secondary-bg-color);
  margin: 10px 0px;
  max-width: 172px;
  max-height: 44px;
  border-radius: var(--btn-border-radius);
  color: var(--main-text-color);
  font-weight: 600;
}
.active {
  background: var(--main-bg) !important;
}
.submenu li > a {
  font-weight: 400;
  background: none;
  padding: 0;
  margin: 5px 0px;
}
.navbar {
  padding: 0 !important;
}
.menu-item {
  position: relative;
}
.menu {
  transition: 0.4s ease-in-out;
  position: absolute;
  top: 13px;
  right: 10px;
}
.preference {
  /* position: relative; */
  margin-top: 160px;
}

/* navber style */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background: var(--navbar-bg);
  box-shadow: var(--box-shadow);
  border: var(--box-border);
  width: 100%;
}
.menu-name h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.search-option input {
  background: var(--secondary-bg-color);
  padding: 10px 20px 10px 40px;
  border-radius: var(--btn-border-radius);
}
.search-option {
  position: relative;
}
.search-option i {
  position: absolute;
  left: 10px;
  font-size: 20px;
  top: 12px;
}
.notification span {
  width: 42px;
  height: 42px;
  font-size: 22px !important;
  flex-shrink: 0;
  background: var(--secondary-bg-color);
  border-radius: 12px;
  display: grid;
  place-items: center;
  position: relative;
}
.notification {
  margin-right: 30px;
  display: grid;
  place-items: center;
}
.notification span::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ff6b00;
  position: absolute;
  border-radius: 100px;
  top: 8px;
  right: 10px;
}
.user {
  display: flex;
}
.user img {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  object-fit: cover;
  margin-left: 20px;
}
.detailes h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.detailes {
  text-align: right;
}
.detailes p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.menu-btn span {
  font-size: 30px !important;
}
.sidebar-logo1 {
  display: none;
}
.menu-btn {
  display: none;
}
#menu-icon {
  background: none;
}
/* main style */
.web-body {
  display: flex;
}

.side {
  width: 15%;
}
main {
  width: 85%;
  background: var(--main-bg);
}
nav {
  width: 100%;
}
.main-content {
  padding: 40px 40px;
}
.dash-first-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px 20px;
}
.dsh-card-section {
  display: flex;
  width: 100%;
}
.user-cards {
  width: 50%;
}
.chart-above {
  display: flex;
  justify-content: space-between;
}
.chart-download {
  display: flex;
}
.chart-download select {
  width: 150px;
}
.chart-download button {
  padding: 10px;
  margin: 0px 0px 0px 10px;
  border-radius: var(--btn-border-radius);
}
.chart-download button > i {
  color: #252424;
}
.user-card {
  padding: 20px;
  background: var(--secondary-bg-color);
  margin: 20px;
  border-radius: var(--card-border-radius);
  position: relative;
}
.user-card i {
  position: absolute;
  right: 25px;
  top: 24px;
}
.user-card h4 {
  font-size: 14px !important;
  font-weight: 500;
  font-style: normal;
  color: var(--secondary-text-color);
}
.user-card h1 {
  font-size: 32px;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  margin: 0;
  padding-top: 10px;
}
.chart-card {
  width: 50%;
  padding: 20px;
  background: var(--secondary-bg-color);
  margin: 20px;
  border-radius: var(--card-border-radius);
  position: relative;
}
.chart-card i {
  position: absolute;
  right: 25px;
  top: 24px;
}
.chart-card h4 {
  font-size: 14px !important;
  font-weight: 500;
  font-style: normal;
  color: var(--secondary-text-color);
}
.head {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.chart-card ul {
  margin: 0;
  padding: 0px;
}
.chart-card li {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0px 20px;
}
.chart-card li > p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.chart-card li > h5 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.chart-card li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background: #ffe0e0;
}
.chart-card li:first-child::before {
  background: #a11d2b !important;
}
.chart-card li:last-child p {
  margin: 0;
}
.progress1 {
  display: grid;
  place-items: center;
  position: relative;
}
.prog {
  width: 90%;
  height: 220px;
  border: 30px solid #ffe0e0;
  border-top: 30px solid #a11d2b;
  border-right: 30px solid #a11d2b;
  border-left: 30px solid #a11d2b;
  border-radius: 50%;
  margin: 20px 0px;
}
.prog-no1 {
  position: absolute;
  top: 20px;
  right: 30px;
  background: var(--main-bg-color);
  padding: 5px;
  border-radius: 8px 0px 8px 0px;
}
.prog-no2 {
  position: absolute;
  bottom: 20px;
  left: 30px;
  background: var(--main-bg-color);
  padding: 5px;
  border-radius: 8px 0px 8px 0px;
}
.nav-pills .nav-link.active {
  background: var(--third-bg-color) !important;
  border-radius: var(--btn-border-radius) !important;
}
.nav-pills .nav-link {
  background: var(--secondary-bg-color) !important;
  border-radius: var(--btn-border-radius) !important;
  margin: 0px 15px;
  color: var(--main-text-color);
}
.home-table-content {
  padding: 20px;
}
table {
  width: 100%;
}
tr {
  height: 40px;
}
td,
th {
  color: var(--main-text-color);
}
td > i {
  color: #060e1b;
}
.home-table-content td > i {
  width: 20px;
  height: 20px;
  background: #e1ffe0;
  font-size: 10px;
  display: inline-grid;
  place-content: center;
  margin-right: 5px;
}
.redes {
  background: #ffe0e0 !important;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  width: 300px;
  height: 300px;
  margin: 100px auto;
}

.close {
  float: right;
  cursor: pointer;
}

h1 {
  text-align: center;
}

#add-btn {
  margin: 14px 20px 0px;
  border-radius: 8px;
  background: #a11d2b;
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 10px 20px;
  height: 50px;
}
#add-btn img {
  width: 24px;
  margin: 0px 5px;
}
#add-btn i {
  color: #fff;
  margin: 0px 10px;
}
#todo-table {
  margin: 20px auto;
  border-collapse: collapse;
}

/* #todo-table th,
#todo-table td {
  padding: 10px;
  border: 1px solid #ddd;
} */

/* #todo-table th {
  background-color: #f2f2f2;
} */

#save-btn {
  margin-top: 10px;
}

button:focus:not(:focus-visible) {
  outline: 0px solid !important;
  border: none !important;
  -moz-outline-style: none !important;
  border-color: none !important;
  box-shadow: none !important;
}
.btn-conss {
  border-radius: 8px !important;
  background: var(--primary-lightest, #e0e9ff) !important;
}
.fecha input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  background-image: url("/assets/img/logo.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 20px;
  cursor: pointer;
}

#dateInput::-webkit-calendar-picker-indicator {
  background-image: url(/assets/img/icon/chevron-down.svg);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.date-filter ul {
  display: flex;
  padding: 0;
  margin: 20px 0px;
}
.date-filter ul li {
  display: flex;
  padding: 5px 15px;
  margin-right: 20px;
  border-radius: 6px;
  background: #f3f4f6;
}
#serInput {
  padding: 5px 15px;
  margin-right: 20px;
  border-radius: 6px 0px 0px 6px;
  background: #f5f5f5;
  position: relative;
  color: var(--grey-dark, #afafaf);
  margin: 0;
  margin-right: -5px;
}
#serInput::before {
  content: '<i class="fa-solid fa-magnifying-glass"></i>';
  position: absolute;
  right: 0;
}
.serch-group button {
  padding: 5px 15px;
  background: #f5f5f5;
  border-radius: 0px 6px 6px 0px;
}
.filter-second {
  display: flex;
}
.filter-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 10px;
}
.above-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
}
.above-table p {
  display: grid;
  place-items: center;
  margin: 0;
}
.check {
  background: #e1ffe0 !important;
  padding: 5px;
  margin-right: 10px;
}
.eye {
  background: #fffcbd !important;
  padding: 5px;
  margin-right: 10px;
}
.cancelIcon {
  background: #ffe0e0 !important;
  padding: 5px;
  margin-right: 10px;
}
.green {
  color: #25b800;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 40px;
  width: 50%;
  border-radius: 5px;
}

/* Styles for the form */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  margin-bottom: 10px;
}

.modal-content input[type="submit"] {
  width: auto;
}
#taskTable button {
  background: transparent;
}
.modal-content {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  width: 80% !important;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  margin: 40px;
  float: right;
}
/* popup inner style */
.above-heading h2 {
  font-size: 22px;
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}
.above-heading p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  color: var(--secondary-text-color);
}
.first-form-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}
label {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--label-color);
}
.modal-content input {
  border-radius: 5px;
  border: var(--input-border);
  background: var(--main-bg-color);
  padding: 8px 14px;
}

textarea,
select {
  border-radius: 5px;
  border: var(--input-border);
  background: var(--main-bg-color);
  padding: 8px 14px;
}
.ffc1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="file"] {
  border: none;
  padding: 0;
  height: 100%;
}
.brow {
  display: flex;
  position: relative;
}
.brow-btn {
  display: block;
  width: 120px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 6px;
}
.ffc2 {
  width: 30%;
}
.second-form-content {
  padding: 20px 0px;
}
.second-form-content h3,
.thrid-form-content h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--label-color);
}
.sfc1 {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px;
}
.sfc1 button > i {
  border: 2px solid var(--main-bg-color) !important;
  border-radius: 100px;
  padding: 3px 5px;
}
.sfc1 button:last-child {
  background: var(--main-bg-color) !important;
  color: var(--third-bg-color) !important;
  border: 2px solid var(--third-bg-color);
}
.sfc1 button:last-child > i {
  border: 2px solid var(--third-bg-color) !important;
  color: var(--third-bg-color) !important;
}
.thrid-form-content {
  padding: 0px 0px 30px;
  border-bottom: 1px solid #ddd;
}
.fourth-form-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 20px;
  margin: 30px 0px;
}
.popcan {
  position: absolute;
  top: 17px;
  right: 17px;
  background: no-repeat;
  font-size: 23px;
}
.popsum {
  border-radius: 50px !important;
  width: 50%;
  display: block;
  margin: auto !important;
}

/* all contract */
.all-table-above button {
  padding: 5px 10px;
  border-radius: var(--btn-border-radius);
  height: 100%;
}
.all-table-above {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.ata1 {
  display: flex;
}
.ata2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ata1 button > img {
  width: 20px;
}
.ata1 button:last-child {
  margin: 0px 20px;
}
.ata2 button {
  margin: 0px 20px;
}
.ata2 p {
  margin: 0;
}
.ata2 button:last-child {
  margin: 0px !important;
}
.all-search {
  position: relative;
  margin: 0px 20px;
}
.all-search input {
  padding: 5px 10px 5px 40px;
  border-radius: 10px;
  background: var(--secondary-bg-color);
  width: 300px;
  height: 40px;
}
.search {
  position: absolute;
  left: 0;
  top: 0px;
  background: transparent;
  z-index: 2;
}
.search i {
  color: var(--secondary-text-color);
}
.search1 {
  position: absolute;
  right: 0;
  top: 0px;
  background: transparent;
  z-index: 2;
}
.all-con-tab {
  background: var(--secondary-bg-color);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  overflow-x: scroll;
}
.all-table input {
  width: 17px;
  height: 17px;
}
.all-table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #c1bfbf;
}
.all-table td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-table td > p {
  margin: 0 20px;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
.all-table td > span {
  color: #25b800;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.all-table td > ul {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}
.all-table td > ul li {
  border-radius: 180px;

  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  padding: 10px 30px;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
  width: 200px;
}

.all-table td > ul li:first-child {
  background: #e3e3e3 !important;
  color: var(--main-text-color) !important;
}
.all-table td > ul li:last-child {
  background: #e51b00;
  color: #fff;
}
.con-form-content h3 {
  color: #757576;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 15px 0px;
}
.accordion-button:not(.collapsed) {
  color: var(--main-text-color) !important;
  background-color: var(--main-bg-color) !important;
}

/* company style */

.company-ff {
  justify-content: left;
  display: flex;
  margin: 30px 0px;
  column-gap: 20px;
}
.company-content form {
  padding: 20px 40px;
  background: var(--secondary-bg-color);
  border-radius: 10px;
}
.company-fild input {
  border-radius: 5px;
  border: 1px solid #27509e;
  background: #fff;
  padding: 6px;
}
.company-fild select {
  border-radius: 5px;
  border: 1px solid #27509e !important;
  background: #fff;
  padding: 6px;
  width: 180px;
}
.userlist select {
  border-radius: 5px;
  border: 1px solid #d2d2d2 !important;
  background: #fff;
}
.userlist input {
  border-radius: 5px;
  border: 1px solid #d2d2d2;
  background: #fff;
}
/* .company-ff1 > .company-fild {
  margin: 0px 70px;
} */
.company-content form > button {
  display: block;
  margin-left: auto !important;
  margin-top: 50px !important;
}
.company-content {
  margin: 30px 0px;
}
select,
input {
  transition: 0.2s ease-in-out;
}
select,
input:focus {
  outline: 0px solid !important;
  border: none !important;
  -moz-outline-style: none !important;
  border-color: none !important;
  box-shadow: none !important;
}
.company-ff2 {
  display: flex;
  justify-content: space-between;
}
.userlist {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.userlist-c1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userlist span {
  font-size: 16px !important;
}
.userlist select {
  margin: 0px 20px;
}
.userlist label {
  margin-right: 10px;
}
.userlist-nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

.userlist-nav2 {
  display: flex;
}
.userlist-nav2 button {
  padding: 10px 15px;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border: 0.2px solid var(--secondary-bg-color);
}
.user-content {
  padding: 40px 0 0 !important;
}
.listtable {
  width: 100%;
  overflow-x: scroll;
}

select {
  position: relative;
}
.sel-arr {
  position: absolute;
  right: 0;
  top: 0;
}
.char-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0px 0px 60px;
}
.char-link li {
  display: grid;
  place-items: center;
  padding: 0px 20px;
}
.char-link li > a {
  background: var(--main-bg-color) !important;
  box-shadow: 0px 1px 19px 0px rgba(0, 0, 0, 0.09) !important;
  padding: 0.5rem 2rem !important;
  border-radius: var(--btn-border-radius);
  transition: 0.3s ease-in-out;
  width: 100%;
  display: grid;
  place-items: center;
}
.char-link li > a:hover {
  background: #091f43 !important;
  color: var(--main-bg-color) !important;
}

/* theme color style */
#theme {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 10px;
  font-size: 20px;
  background: var(--main-bg);
  border-radius: 6px 0px 0px 6px;

  border: 1px solid var(--main-text-color);
  border-right: 0px !important ;
  z-index: 999;
}
.theme-customizer {
  width: 300px;
  position: fixed;
  background: #fff;
  right: 0;
  z-index: 9999;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.theme-customizer h2 {
  font-size: 20px;
  color: #252424;
  padding: 20px 0px;
  margin: 0;
}
.themevariation {
  border-top: 1px solid #a5a5a5;
  padding: 20px 0px;
}
.theme-head {
  font-size: 18px;
  padding-bottom: 10px;
  color: #252424;
}
.theme-var {
  display: flex;
}
.form-check {
  margin: 0px 5px;
}
.form-check label {
  font-size: 14px;
}
.theme-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0;
}
.theme-color {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.cancel {
  position: absolute;
  right: 20px;
}
.cancel i {
  color: #252424;
}
.form-check label {
  color: #060e1b !important;
}

.pdf-above {
  display: flex;
  justify-self: center;
  align-items: center;
}

.pdf-above h4 {
  font-size: 18px;
  margin: 0;
  padding-right: 10px;
}
.pdf-above a {
  padding: 0px 10px 0 10px;
  border-left: 1px solid var(--main-text-color);
}
.pdf-above h5 {
  font-size: 16px;
  margin: 0;
}
.pdf-f1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0px;
}
.pdf-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pdf-icon i {
  padding: 10px 30px;
  background: var(--third-bg-color);
  display: grid;
  place-items: center;
  font-size: 14px;
  border-radius: 100px;
  color: var(--main-bg);
}
.pdf-icon p {
  margin: 0 10px;
  font-size: 16px;
}
.pdf-line {
  width: 100px;
  height: 1.5px;
  background: #a5a5a5;
}
.pdf-f2 {
  background: var(--secondary-bg-color);
  padding: 30px;
  border-radius: var(--card-border-radius);
}
.pdf-f2 ul {
  display: flex;
  justify-content: space-between;
}
.pdf-f2 ul li {
  background: var(--main-bg);
  padding: 10px 20px;
  border-radius: var(--card-border-radius);
}
.pdf-f2 ul li > i {
  margin: 0px 10px 0 0;
}
.pdf-f2 ul li:last-child {
  background: var(--third-bg-color);
  color: var(--main-bg);
}
.pdf-f2 ul li:last-child > i {
  color: var(--main-bg);
}
